*{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #000000;
}

header{
    background-color: #1c8ef8;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1fe069;
    height: 18vh;
}

header{
    height: 120px;
    text-align: center;
    padding: 10px;
}

nav{
    margin-top: 20px;
    padding-left: 15px;
    background-color: #1974c9;
    text-align: left;
    height: 45px;
    display: flex;
    align-items: center;
    color: #4a9eee !important;
    font-size: 25px;

}

.content{
    display: flex;
}
main{
    padding: 10px;
    background-color: #ffd000;
    display: flex;
    flex-direction: column;
 
}
aside{
    padding: 10px;
    background-color: #ee3333;
}

section, article{
    font-size: 28px !important;
}

main section{
    margin-top: 10px;
    height: 120px;
    background-color: #e09421d3;
    color: #ffd000;
}

.article{
    height: auto;
    padding: 10px;
}

.article article{
    text-align: center;
    margin-top: 10px;
    height: 40px;
    background-color: #E67E22;
    color: #ffd0006c;
}

aside section{
    height: 134px;
    background-color: #c52c2c;
    margin-top: 10px;
    color: #ee3131;
}
